.bot {
    text-align: center;
    width: 300px;
    background-color: rgb(195, 236, 198);
    margin: 2%;
    padding: 10px;
}

.bot button {
    float: right;
    font-size: 12px !important;
}

.bot p {
    float: right;
    font-size: 12px;
}

.bot div {
    margin: 10px;
}